<h1>Edit Discount</h1>
<%= form_with url: merchant_bulk_discount_path(@merchant, @discount), method: :patch, local: true do |form|%>
  <p><%= form.label "Item Quantity Threshold: " %></p>
  <p><%= form.number_field :item_quantity, value: @discount.item_quantity %></p>
  <p><%= form.label "Percent Discount: " %></p>
  <p><%= form.text_field :percent_off, value: @discount.percent_off %></p>
<%= form.submit "Update Discount" %>
<% end %>
