<h1>Edit Discount</h1>
<%= form_with model: [@merchant, @discount], local: true do |f| %>
<%= f.label :item_quantity %>
<%= f.text_field :item_quantity %><br>
<%= f.label :percent_off %>
<%= f.text_field :percent_off %><br>
<%= f.submit "Update Discount" %>
<% end %>
